<!-- <p style="color: red;">dashboard works!</p> -->

<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>

    <!-- <h6 style="color:white">{{aim}}</h6> -->
  </nav>
  <h1 style="color: white;">Welcome {{user}} </h1>
  <h5 style= "color: aliceblue;">{{lDate|date:'short'}}</h5>
  <button class="btn btn-danger" (click)="deleteAccount()" style="float: right; margin-right: 10px;">Delete</button>
  <!-- <div>
    <input type="submit" value="Logout" class="btn float-right logout_btn  " style="margin-right: 20px; background-color: #FFC312;"  >
    </div> -->
    <button class="btn btn-warning" (click)="logout()" style="float: right; margin-right: 10px;">logout</button>
    
  <a routerLink="/transaction">View Transaction</a>
  <!-- <app-animation></app-animation> -->
  <app-delete-confirm (onCancel)="cancel()" [item]="acno"></app-delete-confirm>
  
  <hr>

  
  <div [ngClass]="acno?'c1':'' " class="container col-md-12 mt-0">
      <div class="d-flex justify-content-center h-100">
          <div class="card">
              <div class="card-header">
                  <h3 class="text-center">Deposit Form</h3>
                  
              </div>
              <div class="card-body">
                  <form [formGroup]="depositForm" (ngSubmit)="Deposit()">
                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <input type="text" class="form-control" name="acno" formControlName="acno" placeholder="accno" id="login_accno" required>
                          
                      </div>
                      <div *ngIf="this.depositForm.get('acno')?.touched&&this.depositForm.get('acno')?.errors" style="color: red;">Invalid AccountNumber</div>

                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-key"></i></span>
                          </div>
                          <input type="password" class="form-control" name="pswd" formControlName="pswd" placeholder="password" id="login_password" required>
                      </div>
                      <div *ngIf="this.depositForm.get('pswd')?.touched&&this.depositForm.get('pswd')?.errors" style="color: red;">Invalid password</div>


                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="text" class="form-control" name="amount" formControlName="amount" placeholder="amount" id="login_amount" required>
                    </div>
                    <div *ngIf="this.depositForm.get('amount')?.touched&&this.depositForm.get('amount')?.errors" style="color: red;">Invalid amount</div>

                      
                      <div class="form-group">
                          <input type="submit" value="Deposit"  class="btn float-right login_btn " style="width:50%" >
                      </div>
                  </form>
              </div>
              <!-- <p style="color:white;align-items:baseline;">Not a user? <a routerLink="register">Register</a></p> -->
          </div>
      </div>
  </div>



  <div [ngClass]="acno?'c1':'' " class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Withdraw Form</h3>
                
            </div>
            <div class="card-body">
                <form [formGroup]="withdrawalForm" (ngSubmit)="Withdraw()">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" name="acno" formControlName="acno1" placeholder="accno" id="login_accno1" required>
                        
                    </div>
                    <div *ngIf="this.withdrawalForm.get('acno1')?.touched&&this.withdrawalForm.get('acno1')?.errors" style="color: red;">Invalid account</div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" name="pswd" formControlName="pswd1" placeholder="password" id="login_password1" required>
                    </div>
                    <div *ngIf="this.withdrawalForm.get('pswd1')?.touched&&this.withdrawalForm.get('pswd1')?.errors" style="color: red;">Invalid password</div>

                    <div class="input-group form-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-key"></i></span>
                      </div>
                      <input type="text" class="form-control" name="amount1" formControlName="amount1" placeholder="amount" id="login_amount1" required>
                  </div>
                  <div *ngIf="this.withdrawalForm.get('amount1')?.touched&&this.withdrawalForm.get('amount1')?.errors" style="color: red;">Invalid amount</div>

                    
                    <div class="form-group">
                        <input type="submit" value="Withdraw"  class="btn float-right login_btn " style="width:50%" >
                    </div>
                </form>
            </div>
            <!-- <p style="color:white;align-items:baseline;">Not a user? <a routerLink="register">Register</a></p> -->
        </div>
    </div>
</div>
  

