h1{
    text-align: center;
    color: azure;
    padding: 10px;

}
table,tr,th{
    border: 2px white solid;
    padding: 10px;
    margin-left: 800px;
    margin-right: auto;
    font-size: 20px;
    color: antiquewhite;
}